mixin itemProd(a, i, t, vz, height, width)
	+b.itemProd
		if a
			+e.availability В наличии
		else
			+e.availability--empty В наличии
		+e.imgWrap
			img(src="#" data-lazy=`img/@2x/flowerpot-${i}.png`, alt="#")
		.h4= t
			if vz
				span= vz
			else
				span вазон бетонный
		table
			tr
				td Высота: 
				if height
					td= height
				else
					td 300 мм.
			tr
				td Длина: 
				if width
					td= width
				else
					td 400 мм.
			tr
				td Вес: 
				if weight
					td= weight
				else
					td 45 кг.
			block
		+e.materials
			+e.materialsWrap
				a(href='img/@2x/mix.png' data-fancybox=`materials-${i}`)
					img.res-i(src="#" data-lazy="img/@2x/mix.png", alt="")
			+e.materialsWrap
				a(href='img/@2x/goldilith.png' data-fancybox=`materials-${i}`)
					img.res-i(src="#" data-lazy="img/@2x/goldilith.png", alt="")
			+e.materialsWrap
				a(href='img/@2x/red-jasper.png' data-fancybox=`materials-${i}`)
					img.res-i(src="#" data-lazy="img/@2x/red-jasper.png", alt="")
			+e.materialsWrap
				a(href='img/@2x/landscape-jasper.png' data-fancybox=`materials-${i}`)
					img.res-i(src="#" data-lazy="img/@2x/landscape-jasper.png", alt="")
		.h5.text-center 1800 руб.*
		+e.A.btn.btn(href="#") 
			span.bg Заказать



mixin sCatalog()
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Благодаря собственному производству реализуем&nbsp;в&nbsp;камне #[strong любые фактуры, формы и&nbsp;цвета]
				h4 Все изделия покрываем лаком для дополнительной защиты, который&nbsp;придает насыщенный цвет изделию
			+b.tabs
				+e.caption
					+e.btn.active Вазоны бетонные цветочные
					+e.btn Парапет
					+e.btn Ограничитель парковки
					+e.btn Скамейки
					+e.btn Урны
				+e.wrap
					+e.content.vazons.active
						+e.vazons
							+icon('info')
							p Во&nbsp;всех вазонах делаем дренажные отверстия для&nbsp;воды
						.slider-wrap
							.slider--js
								.slide
									+itemProd('a','1','«Афина»')
								.slide
									+itemProd('','2','«Болено»')
								.slide
									+itemProd('','3','«Венза»')
									
								//- .slide
								//- 	+itemProd('','3','«Венза»')

							.control-wrap
						+e.A.allProd.btn(href="#") 
							span.bg Смотреть все вазоны
						.h6 *Стоимость указана при покупке со&nbsp;склада производителя в&nbsp;Магнитогорске.<br> Стоимость не&nbsp;включает дополнительную упаковку, доставку и&nbsp;погрузо-разгрузочные работы.
					+e.content
						
						.slider-wrap
							.slider--js
								.slide
									+itemProd('a','1','«Афина»')
								.slide
									+itemProd('','2','«Болено»')
								.slide
									+itemProd('','3','«Венза»')
									
								.slide
									+itemProd('','3','«Венза»')

							.control-wrap
						+e.A.allProd.btn(href="#") 
							span.bg Смотреть все вазоны
						.h6 *Стоимость указана при покупке со&nbsp;склада производителя в&nbsp;Магнитогорске.<br> Стоимость не&nbsp;включает дополнительную упаковку, доставку и&nbsp;погрузо-разгрузочные работы.
					+e.content
						
						.slider-wrap
							.slider--js
								.slide
									+itemProd('a','1','«Афина»')
								.slide
									+itemProd('','2','«Болено»')
								.slide
									+itemProd('','3','«Венза»')
							.control-wrap
						+e.A.allProd.btn(href="#") 
							span.bg Смотреть все вазоны
						.h6 *Стоимость указана при покупке со&nbsp;склада производителя в&nbsp;Магнитогорске.<br> Стоимость не&nbsp;включает дополнительную упаковку, доставку и&nbsp;погрузо-разгрузочные работы.
					+e.content
						
						.slider-wrap
							.slider--js
								.slide
									+itemProd('a','1','«Афина»')
								.slide
									+itemProd('','2','«Болено»')
								.slide
									+itemProd('','3','«Венза»')
							.control-wrap
						+e.A.allProd.btn(href="#") 
							span.bg Смотреть все вазоны
						.h6 *Стоимость указана при покупке со&nbsp;склада производителя в&nbsp;Магнитогорске.<br> Стоимость не&nbsp;включает дополнительную упаковку, доставку и&nbsp;погрузо-разгрузочные работы.
					+e.content
						
						.slider-wrap
							.slider--js
								.slide
									+itemProd('a','1','«Афина»')
								.slide
									+itemProd('','2','«Болено»')
								.slide
									+itemProd('','3','«Венза»')
							.control-wrap
						+e.A.allProd.btn(href="#") 
							span.bg Смотреть все вазоны
						.h6 *Стоимость указана при покупке со&nbsp;склада производителя в&nbsp;Магнитогорске.<br> Стоимость не&nbsp;включает дополнительную упаковку, доставку и&nbsp;погрузо-разгрузочные работы.
				+e.caption2.d-md-none
					+e.btn.active Вазоны бетонные цветочные
					+e.btn Парапет
					+e.btn Ограничитель парковки
					+e.btn Скамейки
					+e.btn Урны




	// end sCatalog